---
layout: default
image: /images/royal-roast-500g---products.jpg
---

<div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Express Coffee India</p>
            </div>
    </div>

    <div id="main-wrapper">
       {% include header.html %}

        <div class="page-wrapper">

            <div class="container-fluid">
               
                {% include slider.html %}
                {% include technology.html %}
                {% include products.html %}
                {% include services.html %}
                {% include testimonials.html %}
                <!-- {% include customers.html %} -->
                {% include team.html %}
                {% include contact-us.html %}
                
                
            </div>

          
            {% include footer.html %}

            <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>
        </div>

    </div>

    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- This is for the animation -->
    <script src="/js/aos.js"></script>
    <!-- Custom JavaScript -->
    <script src="/js/custom.min.js"></script>

    <script src="/js/owl.carousel.min.js"></script>
    <!-- Jquery touchSwipe -->
    <script src="/js/jquery.touchSwipe.min.js"></script>
    <script src="/js/bootstrap-touch-slider.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    
    
    
    <script type="text/javascript">
    $('#slider4').bsTouchSlider();
    $(".carousel .carousel-inner").swipe({
        swipeLeft: function(event, direction, distance, duration, fingerCount) {
            this.parent().carousel('next');
        },
        swipeRight: function() {
            this.parent().carousel('prev');
        },
        threshold: 0
    });

    $('.counter').counterUp({
        delay: 10
    });

    $('.testi9').owlCarousel({
        loop: true,
        margin: 30,
        nav: false,
        dots: true,
        autoplay: true,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1

            },
            1650: {
                items: 1
            }
        }
    })
    </script>

<script src="/js/smooth-scroll.min.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1409800599270506&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>    
{% include analytics-lite.html %}
