<div class="blog-home1 spacer">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-md-8 text-center">
                <h2 class="title">Latest from Our Blog</h2>
                <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
            <!-- Column -->
            <!-- Column -->
        </div>
        <div class="row m-t-40">
            <!-- Column -->
            <div class="col-md-4">
                <div class="card card-shadow aos-init" data-aos="flip-left" data-aos-duration="1200">
                    <a href="#"><img class="card-img-top" src="/img3(1).jpg" alt="Coffee Express India"></a>
                    <div class="p-30">
                        <div class="d-flex no-block font-14">
                            <a href="#">Digital Marketing</a>
                            <span class="ml-auto">Sept 18, 2017</span>
                        </div>
                        <h5 class="font-medium m-t-20"><a href="#" class="link">Digital Marketing becomes very Essential for any site</a></h5>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-4">
                <div class="card card-shadow aos-init" data-aos="flip-up" data-aos-duration="1200">
                    <a href="#"><img class="card-img-top" src="/img2(1).jpg" alt="Coffee Express India"></a>
                    <div class="p-30">
                        <div class="d-flex no-block font-14">
                            <a href="#">Search Engine </a>
                            <span class="ml-auto">Sept 18, 2017</span>
                        </div>
                        <h5 class="font-medium m-t-20"><a href="#" class="link">Rank your site on First Page of Google seems easier now</a></h5>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-4">
                <div class="card card-shadow aos-init" data-aos="flip-right" data-aos-duration="1200">
                    <a href="#"><img class="card-img-top" src="/img1(1).jpg" alt="Coffee Express India"></a>
                    <div class="p-30">
                        <div class="d-flex no-block font-14">
                            <a href="#">Search Engine</a>
                            <span class="ml-auto">Sept 18, 2017</span>
                        </div>
                        <h5 class="font-medium m-t-20"><a href="#" class="link">We have just launched our new Admin template</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
