<div id="contact" class="spacer feature26">
    <div class="container">

       <div class="row justify-content-center">
            <div class="col-md-12 text-center m-b-40  aos-init aos-animate" data-aos="fade-up" data-aos-duration="1800" data-aos-easing="linear"><img src="/images/best-coffee-bag.svg" alt="Coffee Express Best Coffee in India" class="img-fluid"></div>
           </div>
        <div class="row">
            <!-- column -->
            <div class="col-lg-6 align-self-center">
            {% for item in site.data.details.page-headers.contact %}
                <h2 class="title m-t-0">{{item.title}}</h2>
                <p class="m-t-30">{{item.details}}</p>
            {% endfor %}

                        <script type="text/javascript">var submitted=false;</script>
                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='https://expresscoffeeindia.com/thank-you/';}"></iframe>                  
                        <form class="contact-form rev" action="https://docs.google.com/forms/d/e/1FAIpQLSfPLYdlCRJPsVPqpBVTrRDM-V_0jpqejqbPgh655JXa6YdkAg/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
                        <!-- <input type='hidden' name='redirect_to' value='{{site.url}}/thank-you/' /> -->
                        <input class="form-control"  type='text' name='entry.124556513' placeholder="Your name"/>
                        <input class="form-control"  type='email' name='entry.2073606497' placeholder="Your email"/>
                        <input class="form-control"  type='tel' name='entry.1920397230' placeholder="Your phone number"/>
                        <textarea class="form-control textarea"  type='text' name='entry.313206758' placeholder="Any Message?" rows="3"></textarea>

                        <input class="btn btn-info-gradiant" type='submit' value='Contact Us' />
                        </form>
            </div>
            <!-- column -->
            <div class="col-lg-6 text-center">                           
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3439.063858171416!2d75.23456778504203!3d13.6898263062072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbb7184d122cef7%3A0xfe1f15ffd3b4af51!2sEXPRESS+COFFEE+PRIVATE+LIMITED!5e0!3m2!1sen!2sin!4v1519705524353" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>