<section id="slider-sec" class="slider4">
<div id="slider4" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="7000">
    <ol class="carousel-indicators">
       {% for item in site.data.details.slider %}
        <li data-target="#slider4" data-slide-to="{{forloop.index0}}" class="{% if forloop.index == 1 %}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

    {% for item in site.data.details.slider %}
        <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
            <!-- Slide Background --><img src="/images/{{item.image}}" alt="{{site.title}}" class="slide-image" />
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-6">
                            <h1 data-animation="animated fadeInLeft" class="title font-bold m-0 p-b-40">{{item.title}}</h1>
                            <p>{{item.details}}</p>
                            <div>
                                <a class="btn btn-info-gradiant btn-rounded btn-md btn-arrow" data-animation="animated fadeInLeft"  href="{{site.shop}}"> <span>SHOP NOW <i class="ti-arrow-right"></i></span> </a>
                               <!--  <a class="btn btn-outline-inverse btn-rounded btn-md btn-arrow m-l-20" data-animation="animated fadeInLeft" data-toggle="collapse" href="#"> <span>CHECK FEATURES <i class="ti-arrow-right"></i></span> </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <!-- End of Slide -->
        <!-- End of Wrapper For Slides -->
        <!-- Slider Control -->
        <div class="slider-control">
            <!-- Left Control -->
            <a class="left carousel-control-prev text-white font-14" href="#slider4" role="button" data-slide="prev"> <span class="ti-arrow-left" aria-hidden="true"></span> <b class="sr-only font-normal">Previous</b> </a>
            <!-- Right Control -->
            <a class="right carousel-control-next text-white font-14" href="#slider4" role="button" data-slide="next"> <span class="ti-arrow-right" aria-hidden="true"></span> <b class="sr-only font-normal">Next</b> </a>
        </div>
        <!-- End of Slider Control -->
    </div>
</div>
<!-- End Slider -->
</section>



